In [25]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

In [59]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

train.shape

(566373, 4)

In [60]:
train_labels = train["BOROUGH"]
train = train.iloc[:,(1,2)]

In [61]:
test

        Unnamed: 0   LATITUDE  LONGITUDE        BOROUGH
0                1  40.595268 -73.781835         QUEENS
1                2  40.658296 -73.931084       BROOKLYN
2                3  40.681120 -73.964422       BROOKLYN
3                4  40.852357 -73.829660          BRONX
4                5  40.715158 -74.002114      MANHATTAN
5                6  40.863572 -73.926012      MANHATTAN
6                7  40.696208 -73.961586       BROOKLYN
7                8  40.746047 -73.899029         QUEENS
8                9  40.818009 -73.961478            NaN
9               10  40.560394 -74.120053  STATEN ISLAND
10              11  40.844344 -73.914743          BRONX
11              12  40.655048 -73.956301       BROOKLYN
12              13  40.751456 -73.832275         QUEENS
13              14  40.774548 -73.784533            NaN
14              15  40.601742 -73.900300            NaN
15              16  40.602735 -74.083335  STATEN ISLAND
16              17  40.680755 -73.813442         QUEENS
17              18  40.762335 -73.833172         QUEENS
18              19  40.702592 -73.895203         QUEENS
19              20  40.795312 -73.935912      MANHATTAN
20              21  40.616726 -74.018327       BROOKLYN
21              22  40.680297 -73.844640         QUEENS
22              23  40.794052 -73.970367      MANHATTAN
23              24  40.762332 -73.871356         QUEENS
24              25  40.774548 -73.784533            NaN
25              26  40.901228 -73.901216            NaN
26              27  40.798506 -73.967122      MANHATTAN
27              28  40.635257 -73.927447       BROOKLYN
28              29  40.767154 -73.883686         QUEENS
29              30  40.714904 -73.774442         QUEENS
...            ...        ...        ...            ...
627345      627346  40.894315 -73.860261          BRONX
627346      627347  40.608726 -74.088378  STATEN ISLAND
627347      627348  40.725777 -73.986604      MANHATTAN
627348      627349  40.798037 -73.960029      MANHATTAN
627349      627350  40.858764 -73.897357          BRONX
627350      627351  40.726436 -74.005657      MANHATTAN
627351      627352  40.765520 -73.980037      MANHATTAN
627352      627353  40.638775 -73.960092       BROOKLYN
627353      627354  40.830694 -73.837735            NaN
627354      627355  40.719204 -73.990364      MANHATTAN
627355      627356  40.599630 -74.189944            NaN
627356      627357  40.616415 -74.103509  STATEN ISLAND
627357      627358  40.584234 -73.932043       BROOKLYN
627358      627359  40.806415 -73.942262      MANHATTAN
627359      627360  40.697629 -73.985283       BROOKLYN
627360      627361  40.691436 -73.890623         QUEENS
627361      627362  40.870391 -73.901523          BRONX
627362      627363  40.702159 -73.949378       BROOKLYN
627363      627364  40.714045 -73.926330       BROOKLYN
627364      627365  40.604338 -74.006911       BROOKLYN
627365      627366  40.756405 -73.897909         QUEENS
627366      627367  40.709266 -73.870049            NaN
627367      627368  40.692124 -73.989030       BROOKLYN
627368      627369  40.865101 -73.921882      MANHATTAN
627369      627370  40.675658 -73.879275       BROOKLYN
627370      627371  40.700290 -73.929035       BROOKLYN
627371      627372  40.672065 -73.990519       BROOKLYN
627372      627373  40.572132 -74.108087  STATEN ISLAND
627373      627374  40.694069 -73.914055       BROOKLYN
627374      627375  40.781388 -73.952124      MANHATTAN

[627375 rows x 4 columns]

In [62]:


test_labels = test["BOROUGH"]
test = test.iloc[:,(1,2)]

In [63]:
train

         LATITUDE  LONGITUDE
0       40.595268 -73.781835
1       40.658296 -73.931084
2       40.681120 -73.964422
3       40.852357 -73.829660
4       40.715158 -74.002114
5       40.863572 -73.926012
6       40.696208 -73.961586
7       40.746047 -73.899029
8       40.560394 -74.120053
9       40.844344 -73.914743
10      40.655048 -73.956301
11      40.751456 -73.832275
12      40.602735 -74.083335
13      40.680755 -73.813442
14      40.762335 -73.833172
15      40.702592 -73.895203
16      40.795312 -73.935912
17      40.616726 -74.018327
18      40.680297 -73.844640
19      40.794052 -73.970367
20      40.762332 -73.871356
21      40.798506 -73.967122
22      40.635257 -73.927447
23      40.767154 -73.883686
24      40.714904 -73.774442
25      40.765947 -73.876833
26      40.659404 -73.950492
27      40.685953 -73.972398
28      40.748277 -73.939173
29      40.752190 -73.993464
...           ...        ...
566343  40.669147 -73.989723
566344  40.577995 -73.959635
566345  40.608595 -74.004855
566346  40.894315 -73.860261
566347  40.608726 -74.088378
566348  40.725777 -73.986604
566349  40.798037 -73.960029
566350  40.858764 -73.897357
566351  40.726436 -74.005657
566352  40.765520 -73.980037
566353  40.638775 -73.960092
566354  40.719204 -73.990364
566355  40.616415 -74.103509
566356  40.584234 -73.932043
566357  40.806415 -73.942262
566358  40.697629 -73.985283
566359  40.691436 -73.890623
566360  40.870391 -73.901523
566361  40.702159 -73.949378
566362  40.714045 -73.926330
566363  40.604338 -74.006911
566364  40.756405 -73.897909
566365  40.692124 -73.989030
566366  40.865101 -73.921882
566367  40.675658 -73.879275
566368  40.700290 -73.929035
566369  40.672065 -73.990519
566370  40.572132 -74.108087
566371  40.694069 -73.914055
566372  40.781388 -73.952124

[566373 rows x 2 columns]

In [64]:
knn = KNeighborsClassifier(n_jobs=-1, n_neighbors=3)

In [65]:
knn.fit(train,train_labels)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=-1, n_neighbors=3, p=2,
           weights='uniform')

In [66]:
output = knn.predict(test)

In [67]:
pd.DataFrame(output).to_csv("labels.csv")

In [68]:
np.unique(output)

array(['BRONX', 'BROOKLYN', 'MANHATTAN', 'QUEENS', 'STATEN ISLAND'], dtype=object)